.conteudo {
    /* background-color: rgb(249, 252, 255); */
    color: rgba(0, 4, 7, 0.123);
}

.cont {
    background-color: rgba(96, 187, 248, 0.418);
    color: rgba(0, 4, 7, 0.123);
    margin-left: 20px;
    width:560px;
    height:400px;
}

th {
    color: rgba(0, 4, 7, 0.123);
}

td {
    color: rgba(0, 4, 7, 0.123);
}
